<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADIMN VIEW STDENT PROFILE</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body class="adminviewstudentdetail">
    <div id="mySidebar" class="sidebar">
        <h2 style="color: #d85803;">STUDENT PROFILE</h2>
        <div class="cs_student_detail">
        
        <p>Student ID:</p>
        <p>Name  :</p>
        <p>Class :</p>
        <p>Email Address :</p>
        <p>Phone no :</p>

        <div class="cs_student_detail_edit">
            <br>
            <button class="button3">Edit Profie</button>
            <button class="button3">Delete Profile</button>
        </div>
        </div>

        
        <!-- <div class="cs_student_view_button_1">
            <h3 style="color: #d85803;">View your</h3>
            <button class="button3">Home</button><br>
            <button class="button3">Schedule</button><br>
            <button class="button3">Fee Payment Detail</button><br>
            <button class="button3">Examination Result</button>
        </div> -->
      </div>
      <div class="cs_exam_result">
        <h2 style="font-style:italic;color: #e25d04; text-align: center;background-color: #ffa568;">Month's Fees</h2>
          <table class="cs_exam_result_table">
              <tr class="table_first_column">
                  <td>Sno.</td>
                  <td>Jan</td>
                  <td>Feb</td>
                  <td>Mar</td>
                  <td>April</td>
                  <td>May</td>
                  <td>June</td>
                  <td>July</td>
                  <td>Aug</td>
                  <td>Sep</td>
                  <td>Oct</td>
                  <td>Nov</td>
                  <td>Dec</td>
              </tr>
              <tr>
                  <td>
                      Status
                  </td>
              </tr>
            </tr>
        
        </table>
        <p style=" font-style:italic; color :white;">Amount : </p>


        <h2 style="font-style:italic;color: #e25d04; text-align: center;background-color: #ffa568;">Annual's Fees</h2>
          <table class="cs_exam_result_table">
              <tr class="table_first_column">
                  <td>Amount</td>
                  <td>Status</td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
              </tr>

            </tr>
        
        </table>

    <h2 style="font-style:italic;color: #e25d04; text-align: center;background-color: #ffa568;">Examination's Fees</h2>
      <table class="cs_exam_result_table">
          <tr class="table_first_column">
              <td>Amount</td>
              <td>Status</td>
          </tr>
          <!-- <tr>
              <td></td>
              <td></td>
          </tr> -->

        </tr>
    
    </table>
       
    </div>
    
    
    <div class="cs_exam_result">
        <h2 style="font-style:italic;color: #e25d04; text-align: center;background-color: #ffa568;">Examination Result</h2>
        <table class="cs_exam_result_table">
            <tr class="table_first_column">
                <td>Sno.</td>
                <td>Subject</td>
                <td>Course Code</td>
                <td>Marks</td>
                <td>Obtain Marks</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Example</td>
              <td>EX-09</td>
              <td>85</td>
              <td>100</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Example</td>
              <td>EX-09</td>
              <td>85</td>
              <td>100</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Example</td>
              <td>EX-09</td>
              <td>85</td>
              <td>100</td>
          </tr>
        </table>
        <p style="font-style: italic; color: white; font-size: 20px;">Percentage : </p>
    </div>

      
</body>
</html>