<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminView AllStudent</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body style="background-image: url(../Images/p1.gif);">
      <div class="adminvew_allstudent">
          <h2 style="font-style:italic;color: #e25d04; text-align: center;background-color: #ffa568;">Students</h2>
          <table class="cs_exam_result_table">
              <tr class="table_first_column">
                  <td>Student ID</td>
                  <td>Class</td>
                  <td>Name</td>
                  <td>Last Name</td>
                  <td>Gender</td>
                  <td>Date of Birth</td>
                  <td>Date of Admission</td>
                  <td>Email</td>
                  <td>Phone</td>
                  <td>Password</td>
              </tr>
              <tr>
                <td>21001</td>
                <td>1</td>
                <td>Muntaha</td>
                <td>Pervaiz</td>
                <td>Female</td>
                <td>12-04-2010</td>
                <td>21-05-2015</td>
                <td>muntahabatool154@gmail.com</td>
                <td>03130333333</td>
                <td>muntahabatool</td>
              </tr>

              <tr>
                <td>21001</td>
                <td>1</td>
                <td>Muntaha</td>
                <td>Pervaiz</td>
                <td>Female</td>
                <td>12-04-2010</td>
                <td>21-05-2015</td>
                <td>muntahabatool154@gmail.com</td>
                <td>03130333333</td>
                <td>muntahabatool</td>
              </tr>
              <tr>
                <td>21001</td>
                <td>1</td>
                <td>Muntaha</td>
                <td>Pervaiz</td>
                <td>Female</td>
                <td>12-04-2010</td>
                <td>21-05-2015</td>
                <td>muntahabatool154@gmail.com</td>
                <td>03130333333</td>
                <td>muntahabatool</td>
              </tr>
              <tr>
                <td>21001</td>
                <td>1</td>
                <td>Muntaha</td>
                <td>Pervaiz</td>
                <td>Female</td>
                <td>12-04-2010</td>
                <td>21-05-2015</td>
                <td>muntahabatool154@gmail.com</td>
                <td>03130333333</td>
                <td>muntahabatool</td>
              </tr>
              <tr>
                <td>21001</td>
                <td>1</td>
                <td>Muntaha</td>
                <td>Pervaiz</td>
                <td>Female</td>
                <td>12-04-2010</td>
                <td>21-05-2015</td>
                <td>muntahabatool154@gmail.com</td>
                <td>03130333333</td>
                <td>muntahabatool</td>
              </tr>
              
          </table>
        
      </div>

      
</body>
</html>