<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->

    <title>Students Details</title>
</head>



<body style="background-color: black;overflow-y: hidden;">
    <div class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
        </div>
    </div>

    <!-- Remeber to put all the content you want on top of the slider below the slider code -->

    <div class="title">

        <div style="text-align: center; font-family: Lucida Bright; padding-top: 40px;">
            <span style="color: #ff6600;font-weight:bold; font-size: 42px; margin: 10px;">Students</span>
            <span style="color:white;font-weight:bold; font-size: 42px;">Details</span>
        </div>


        <div style="background-image: linear-gradient(to bottom right,  #e65c00, #ff6600, #ff944d); margin:300px ; padding: 50px 50px 00px 50px; border-radius: 10px; margin-top: 20px;
        width: 700px;
        height: 470px;">
            <div style="text-align: center; margin-top: -60px; font-family: se; padding: 10px; ">

                <a href="adminview_student_fee_status"
                    style="display: none; display: block;padding: -4px 15px 30px 10px;"><button
                    class="button button2" style="font-size: 22px;">FEES <br> <i class="fas fa-dollar-sign"></i></button></a>

                <a href="adminview_student_result_status"
                    style="display: none; display: block;padding: -4px 15px 30px 10px;"><button
                    class="button button2" style="font-size: 22px;">RESULT <br> <i class="fas fa-copy"></i> </button></a>
                <a href="./Images/StudentSchedule.jpg"
                    style="display: none; display: block;padding: -4px 15px 30px 10px; "><button
                    class="button button2" style="font-size: 22px;">SCHEDULE <br> <i
                        class="fas fa-clipboard-list"></i></button></a>
               <a href="./AdminPortal"><button
                        style="position:absolute; margin:0.5% 0.2% 0.2% -2.5% ; font-size: 20px; padding: -1% 1% -1% 1%;  "
                        class="button3">
                        Back</button></a>


            </div>

        </div>



    </div>
















    <script>
        $('.carousel').carousel();
    </script>













    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script> -->
</body>