<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Teacher Detail</title>
</head>
<body style="background-image: url(../Images/p1.gif);">
    <div class="container ">
        <h1 class="text-center cs_studentdetail_text_heading"> <b> TEACHER DETAIL </b> </h1>
        <form class="cs_form">
        <div class="row ">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="colFormLabel" placeholder="Student Name" style="margin-left:-60px;">
            </div>
            <label for="colFormLabel" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control cs_form_input" id="colFormLabel" placeholder="Last Name"  style="margin-left:-60px;">
                </div>
              
        </div>
        <div class="row ">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Teacher ID</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="colFormLabel" placeholder="Student ID" style="margin-left:-60px;">
            </div>
            <label for="colFormLabel" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-4">
                  <select type="text" class="form-control" id="colFormLabel" placeholder="Last Name"  style="margin-left:-60px;">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                </div>
              
        </div>
        <div class="row ">
  
            <label for="colFormLabel" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="colFormLabel" placeholder="eg. 30"  style="margin-left:-60px;">
                </div>
            <label for="colFormLabel" class="col-sm-2 col-form-label">Qulification</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="colFormLabel" placeholder="eg. BE in Computer and Information System"  style="margin-left:-60px;">
                </div>    
              
        </div>
        <div class="row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="colFormLabel" placeholder="Email Address" style="margin-left:-60px;">
            </div>
            <label for="colFormLabel" class="col-sm-2 col-form-label">Phone no</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="colFormLabel" placeholder="eg .03032200000"  style="margin-left:-60px;">
                </div>    
              
           
              
        </div>
        
       
    </form>          

    </div>
    
</body>
</html>